{% extends "cms/base.html" %}

{% load cms_tags %}

{% block title %}{{ block.super }} | {{ article.section.name }}{% endblock %}

{% block top-menu %}
  <ul id="menu">
    {% for section in sections %}
      <li {% ifequal section active_section %} class='active' {% endifequal %}>
        <a href='{% url eltonmoss.cms.views.section section.slug %}'>
          <span>{{ section|i18n_section_name:lang|title }}</span>
        </a>
        {% if section.subsections.all %}
          <div>
    				<ul>
    				  {% for sub in section.subsections.all %}
    				    <li><a href='{% url eltonmoss.cms.views.section sub.slug %}'>{{ sub|i18n_section_name:lang|title }}</a></li>
    				  {% endfor %}
    				</ul>
    			</div>
        {% endif %}
      </li>
    {% endfor %}
	</ul>
{% endblock %}

{% block side-menu %}
  {% with article.section as section %}
    <div class="side-menu">
      <h4>{{ section|i18n_section_name:lang|title }}</h4>
      <ul>
        {% if section.parent %}
          <li class='subsection-link'><a href='{% url eltonmoss.cms.views.section section.parent.slug %}'>&laquo; {{ section.parent|i18n_section_name:lang|title }}</a></li>
        {% endif %}
        {% for sub in section.subsections.all %}
          <li class='subsection-link'><a href='{% url eltonmoss.cms.views.section sub.slug %}'>&bull; {{ sub|i18n_section_name:lang|title }}</a></li>
        {% endfor %}
        {% for art in section.articles.all %}
          <li>
            {% ifequal art article %}
              <span style="font-style: italic">
            {% else %}
              <a href='{% url eltonmoss.cms.views.article art.slug %}'>
            {% endifequal %}
            {{ art|i18n_article_title:lang|title }}
            {% ifequal art article %}
              </span>
            {% else %}
              </a>
            {% endifequal %}
          </li>
        {% endfor %}
      </ul>
  	</div>
  {% endwith %}		
{% endblock %}

{% block gallery %}
  {% with article.section as section %}
    <div id="gallery">
  		<div class="hold">
  			<img src="/media/{{ section.block_img }}" width="800" height="279" alt="" />
  			{% for img in section.images.all %}
			    <img src="/media/{{ img.image }}" width="800" height="279" alt="" />
  			{% endfor %}
  		</div>
  		<div class="nav-hold">
  			<ul>
  				<li class="active"><a href="#"><img src="/media/{{ section.thumbnail_img }}" width="85" height="85" alt="" /></a></li>
  				{% for img in section.images.all %}
  			    <li><a href="#"><img src="/media/{{ img.thumbnail_img }}" width="85" height="85" alt="" /></a></li>
    			{% endfor %}
  			</ul>
  		</div>
  	</div>
  {% endwith %}
{% endblock %}

{% block body-text %}
  <div class="text-block">
    {{ article|add_images:lang|safe }}
  </div>
{% endblock %}
